<h1>Editing property user</h1>

<%= render "form", property_user: @property_user %>

<br>

<div>
  <%= link_to "Show this property user", @property_user %> |
  <%= link_to "Back to property users", property_users_path %>
</div>
